* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial";
}
:root {
  --light-blue: #3295ce;
  --blue: #182cc0;
  --light-text-color: #555f62;
  --too-light-grey: #f9fafa;
  --light-grey: #d7dddd;
  --border-light-grey: #e7e7e7;
}

body {
  background-color: var(--too-light-grey);
}
.burger-menu-btn {
  display: none;
}
.burger-menu-drop-down {
  padding: 18% 5%;
  height: 100%;
  background-color: white;
}
/* General styles for header, main container, and footer */
header,
.main-container,
.main-container-second-part,
.main-container-third-part,
footer {
  padding-left: 5%;
  padding-right: 5%;
}
@media only screen and (min-width: 1200px) {
  header,
  .main-container,
  .main-container-second-part,
  .main-container-third-part,
  footer {
    padding-left: 20%;
    padding-right: 20%;
  }
}

hr {
  margin: 0 -40%; /* Negative margin to counteract the padding */
  /* width: calc(100% + 40%); Add padding width to the hr */
  color: var(--too-light-grey);
}
/* drop-down */
.drop-down-menu {
  background-color: white;
  display: flex;
  padding: 3% 0;
  z-index: 100;
  display: none;
}
.drop-down-logo div {
  display: flex;
  color: var(--blue);
  align-items: center;
  gap: 2%;
  margin-top: 5%;
}
.drop-down-logo img {
  width: 170px;
}

.products-ul,
.offers-ul,
.concept-ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--light-text-color);
  width: 120px;
}
.products-ul li:hover,
.offers-ul li:hover,
.concept-ul li:hover {
  color: var(--blue);
  cursor: pointer;
}
.offers-ul {
  margin-left: 90%;
}
.products-ul {
  margin-left: 8%;
}
.concept-ul {
  margin-left: 160%;
}

/* Styles for the header and navbar sections */
header {
  background-color: white;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 20px 0; */
  height: 60px;
}
.main-logo {
  display: flex;
  align-items: center;
  color: var(--light-text-color);
}
.nav-first-section svg {
  border-right: 2px solid var(--light-grey);
  padding-right: 5%;
  margin-right: 5%;
}

.nav-first-section,
.nav-second-section,
.nav-subscribe,
.eng {
  display: flex;
}

.nav-first-section,
.nav-second-section {
  align-items: center;
  gap: 6%;
  height: 100%;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 380px;
  height: 100%;
}

.nav-links div {
  display: flex;
  align-items: center;
  margin: auto 15px;
  height: 100%;
}

.nav-links div {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav-subscribe {
  width: 320px;
  gap: 5px;
  color: var(--blue);
  text-align: center;
}
.nav-subscribe a {
  text-decoration: none;

  margin-right: 15px;
  font-weight: bold;
}

.eng {
  color: black;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  height: 30px;
  margin-right: 10px;
}

/* home page */
.home-page {
  padding-bottom: 4%;
}

/* Main container styles */
.main-container {
  padding-top: 100px; /* Adjust based on the height of your navbar */
}

/* Additional styles for content (optional) */
.content p {
  padding: 20px;
}
/* first banner on the page */
.banner {
}
.banner,
.banner2 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 102%;
  border-radius: 10px;
}
.banner-content,
.banner2-content {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 98.5%;

  background: rgba(0, 0, 0, 0.5);
  color: white;

  gap: 20px;
  padding-left: 11%;
}
.banner-img-wraper,
.banner2 img,
.banner img {
  object-fit: inherit;
  width: 100%;
  height: 102%;
  background-color: #000;
}

.blue-btn {
  background-image: linear-gradient(15deg, #001682, #3240e5);
  color: white;
  border: none;
  padding: 15px 25px;
  width: fit-content;
  border-radius: 5px;
}

/* main title on the page */
.main-title {
  font-size: x-large;
  padding: 4em 0;
}

/* footer section here */
.icon {
  width: 20px;
}
footer {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 5em;
}
footer a,
.drop-down-top a,
.drop-down-bottom a {
  text-decoration: none;
  color: var(--light-text-color);
}
.header-of-footer,
.footer-content,
.end-section,
.drop-down-top {
  display: flex;
  justify-content: space-between;
}
.header-of-footer {
  padding: 50px 0px;
}
.footer-products,
.footer-lifestyles,
.footer-concept,
.contact,
.follow-us,
.mobile-products-div,
.mobile-offers-div,
.mobile-concept-div,
.mobile-contact-div {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.contact {
  margin-bottom: 30px;
}
/* fb insta icons */
.fb,
.insta {
  padding: 12px;
  background-color: #f9fafa;
  margin-right: 5px;
  border-radius: 5px;
}
.tel,
.mail,
.location {
  display: flex;
  align-items: center;
  gap: 5px;
}
.end-section {
  border-top: 1px solid #ddd;
  font-size: x-small;
  color: var(--light-text-color);
  margin-top: 30px;
}
.end-section-logo,
.end-section-end {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 30px 0px;
}

footer a:hover {
  color: var(--blue);
}
/* statistics */
.statistics-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 0 auto;
  margin: 10% 0;
}
.stat {
  display: flex;
  flex-direction: column;
  padding: 30px 80px;
  background-color: white;
  margin-bottom: 20px;
  font-size: larger;
  gap: 20px;
  text-align: start;
  min-width: 280px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
/* digital bank section */
.main-container-second-part {
  background-color: white;
  padding-top: 40px;
}
.digital-bank-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  margin-bottom: 10%;
}

.digital-bank-content {
  flex: 1;
}
.digital-bank-content h1,
.digital-bank-content p {
  margin-bottom: 50px;
}
.digital-bank-section-img {
  width: 300px;
}
/* digital bank btns */
.digital-bank-btns {
}
.digital-bank-btn {
  padding: 10px 30px;
  margin-right: 20px;
  background-color: white;
  border: 1px solid var(--light-grey);
  margin-bottom: 2%;
}
.digital-bank-btn:hover {
  background-color: var(--light-grey);
  border: 1px solid var(--light-text-color);
  cursor: pointer;
}
/* packages */
.package-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  row-gap: 5%;
  column-gap: 2%;
}
.package-div-1,
.package-div-2,
.package-div-3 {
  width: 100%;
}
.package-div-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 280px;
}
.package-div-3 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.package-div-2 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  height: 280px;
}
.package-div-1 img,
.package-div-2 img,
.package-div-3 img {
  height: 100%;
  width: 540px;
  object-fit: cover;
  filter: blur(0.2px);
}

.package-img-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
}
.package-img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: blur(0.2px);
  border-radius: 10px;

  transition: transform 0.3s ease;
}
.package-img-container img:hover {
  transform: scale(1.02);
  border-radius: 10px;
  cursor: pointer;
}
.overlay {
  position: absolute;
  bottom: 0;
  margin-bottom: 10%;
  margin-left: 10%;
  /* left: 20%; */
  color: white;
  width: 200px;
  font-weight: bold;
}
.read-more {
  display: flex;
  gap: 2%;
  margin-top: 10%;
}
.read-more p {
  text-decoration: underline;
  font-size: smaller;
}
.package-h1 {
  margin-bottom: 5%;
}

/* offerebi */
.offers-container,
.awards-container,
.products-container {
  display: grid;

  gap: 3%;
  overflow-x: auto;
  scrollbar-width: none;
  margin-bottom: 20px;
  padding: 1%;
}
.offers-container {
  grid-template-columns: repeat(6, 1fr);
}
.awards-container {
  grid-template-columns: repeat(4, 1fr);
  margin-top: 10%;
}
.products-container {
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 10%;
  overflow-x: auto;
}

.offers-container::-webkit-scrollbar,
.awards-container::-webkit-scrollbar {
  display: none;
}
.offer-slider-wrapper {
}
.offer-div,
.products-div {
  border: 0.1px solid var(--border-light-grey);
  border-radius: 10px;
  width: 350px;
  overflow: hidden;
  transition: box-shadow 0.4s ease-in-out;
}

.offer-div:hover,
.products-div:hover {
  box-shadow: 0 4px 8px rgba(177, 175, 175, 0.3);
  cursor: pointer;
}

.awards-div {
  width: 350px;
  height: 250px;
  padding: 10%;
  background-color: white;
  border-radius: 10px;
  transition: box-shadow 0.4s ease-in-out;
}
.awards-div:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(177, 175, 175, 0.3);
}

.awards-content-div {
  padding-top: 15%;
}
.awards-content-div h3 {
  margin-bottom: 10%;
}
.awards-logo {
  width: 35%;
  height: 60px;
}
.offer-img-container,
.products-img-container {
  position: relative;
  width: 350px;
  height: 200px;
}

.offer-img,
.products-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  transition: transform 0.3s ease-in-out;
}
.offer-img:hover,
.products-img:hover {
  transform: scale(1.02);
}

.all-offers {
  display: flex;
  justify-content: space-between;
  padding: 0 5% 5% 0;
}
.all-offers a {
  color: var(--blue);
  font-size: small;
  font-weight: bold;
}
.offers-logo {
  position: absolute;
  right: 0px;
  top: 15px;
  background-color: white;
  width: 70px;
  height: 50px;
  z-index: 10;
  border-radius: 10px 0px 0px 10px;
}
.offer-content-div,
.products-content-div {
  padding: 5% 5%;
}
.offer-content-div p,
.products-content-div p {
  color: var(--light-text-color);
  margin-bottom: 5%;
}
.products-content-div h2 {
  margin-bottom: 5%;
}

/* scrollbar slider */
.slider-scrollbar {
  height: 20px;
  width: 98%;
  /* background-color: white;
  border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10%;
}
.scrollbar-track {
  position: relative;
  height: 2px;
  width: 90%;
  background-color: #ccc;
  border-radius: 4px;
  margin-right: 10px;
}
.scrollbar-thumb {
  position: absolute;
  height: 2px;
  width: 50%;
  background-color: var(--blue);
  border-radius: inherit;
  cursor: grab;
}
.scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}

.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
}
.scrollbar-arrows {
  display: flex;
  gap: 20%;
}
.scrollbar-arrows svg:hover {
  cursor: pointer;
  color: var(--blue);
}
/* animation for the drop-down menu */

.fade-in {
  opacity: 0;
  animation: fadeIn 2s forwards;
}
.slide-in {
  transform: translateY(-15px);
  opacity: 0;
  animation: slideIn 0.5s forwards;
}
/* Keyframes for animations */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@keyframes slideIn {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/* drop down menu hovers */
.drop-down-products:hover,
.drop-down-offers:hover,
.drop-down-concept:hover {
  cursor: pointer;
}
.drop-down-logo div:hover,
.nav-subscribe:hover,
.all-offers a:hover {
  color: var(--light-blue);
  cursor: pointer;
}
.blue-btn:hover {
  background-color: var(--light-blue);
  background-image: none;
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  .footer-content {
    flex-direction: column;
  }

  .footer-concept,
  .footer-products,
  .footer-lifestyles,
  .footer-contact {
    margin: 0 -5%;
    padding: 8%;
    border-top: 1px solid var(--light-grey);
  }
  .package-container {
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-rows: 1fr; /* 1 row */
    width: 100%;
    gap: 2%; /* unified gap for both rows and columns */
    overflow-x: auto;
  }

  .package-div-1,
  .package-div-2,
  .package-div-3 {
    width: 200px;
  }

  .package-div-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 200px; /* Adjust height if necessary */
  }

  .package-div-2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    height: 200px; /* Adjust height if necessary */
  }

  .package-div-3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    height: 200px;
  }
}
@media only screen and (max-width: 990px) {
  h1 {
    font-size: 1.3em;
  }
  .statistics-container {
    flex-direction: column;
    width: 100%;
  }
  .stat {
    width: 100%;
  }
  .main-concept-h1,
  .nav-links,
  .eng {
    display: none;
  }
  .nav-first-section svg {
    border-right: none;
  }
  .nav-second-section {
    gap: 3%;
    font-size: smaller;
  }
  .nav-subscribe {
    width: 220px;
  }
  .nav-subscribe a {
    margin-right: 0;
  }
  .burger-menu-btn {
    display: block;
    width: 25px;
  }
  .drop-down-top {
    flex-direction: column;
  }

  .drop-down-main-div div {
    height: fit-content;
  }
  .drop-down-top div {
    margin-bottom: 10%;
    border-bottom: 1px solid var(--light-grey);
    margin-left: -5%;
    margin-right: -5%;
    padding-left: 5%;
    padding-bottom: 2%;
  }
  .digital-bank-section {
    flex-direction: column-reverse;
    justify-content: start;
    align-items: start;
    gap: 20px;
  }
  .banner,
  .banner2 {
    margin-left: -5.7%;
    margin-right: -5.5%;

    width: 100vw;
  }
  .banner-img-wrapper {
    height: 400px;
  }
  .banner img,
  .banner2 img {
    object-fit: cover;
  }
  .banner-content,
  .banner2-content {
    height: 400px;
    justify-content: end;
    padding-bottom: 10%;
  }
  .statistics-container {
    gap: 0px;
  }
}
